// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color
$blue1: #015C92;
$blue2: #2D82B5;
$blue3: #4EA6D4;
$blue4: #88CDF6;
$blue5: #BCE6FF;

$blue1 : $blue1;
.blue2 {color: $blue2;}
.blue3 {color: $blue3;}
.blue4 {color: $blue4;}
.blue5 {color: $blue5;}